.AboutUs {
    display: flex;    
}
.left_AboutUs, .right_AboutUs {
    width: 50%;
    height: 935px;
}
.left_AboutUs {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-bottom: 5%;
    }
    .text_AboutUs {
        font-size: 30px;
        color: $main-color;
        line-height: 54px;
        margin-inline: 10%;
        margin-top: 6%;
        text-align: center;
    }
    .signature_AboutUs {
        width: 80%;
        text-align: right;
        margin-top: 40px;
    }
}
.right_AboutUs {
    background-image: url(../assets/People.jpg);
    background-position: left;
}