.HomeHeader {
    display: flex;
    height: 100vh;
    div {
        width: 100%;   
    }
}    
        
.menu-top ul{ 
    padding-top: 40px;
    padding-right: 5%;           
    display: flex;
    gap: 30px;
    justify-content: right;
    a {
        text-decoration: none;
        color: #737373;
        border: 1px solid transparent; 
        padding: 5px;
            &:hover {
                border-color: $second-color;
            }
            }
}
.menu ul{   
    padding-top: 30px;  
    padding-right: 4%;              
    display: flex;
    gap: 55px;
    justify-content: right;
    li {
        text-decoration: none;
        color: $main-color;
        border: 1px solid transparent; 
        padding: 5px;
        cursor: pointer;
        &:hover {
            border-color: $main-color;
                  }
            }
}
.titleAndButtons_header {
    padding-top: 220px;         
    text-align: center;   

    .buttons_header {
        padding-top: 5%;
        display: flex;
        gap: 5%;
        justify-content: center;
        }
    img {
        margin-top: 38px;
    }
}

